ame: Robot Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Install dependencies
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            xvfb \
            chromium-browser \
            chromium-chromedriver \
            unzip \
            fonts-liberation \
            libnss3 \
            libxss1 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libx11-xcb1 \
            libasound2t64
          pip install --upgrade pip
          pip install robotframework selenium robotframework-seleniumlibrary

      # Run Robot tests inside Xvfb
      - name: Run Robot Tests
        run: |
          xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" robot -d output tests/
