name: Robot Framework CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Robot tests
      run: |
        robot -d output tests/
    - name: Check Chrome and ChromeDriver Versions
      run: |
        echo "Checking Chrome version..."
        if command -v google-chrome &> /dev/null; then
          google-chrome --version
        else
          echo "google-chrome not found"
        fi

        echo "Checking ChromeDriver version..."
        if command -v chromedriver &> /dev/null; then
          chromedriver --version
        else
          echo "chromedriver not found"
        fi

    - name: Upload Robot Reports
      uses: actions/upload-artifact@v4
      with:
        name: robot-report
        path: output/
