name: Robot Tests Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  robot-tests:
    runs-on: windows-latest

    steps:
      
      - uses: actions/checkout@v3

     
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'   
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Robot Tests
        run: |
          robot -d output tests/
          
      - name: Upload Robot Framework results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-test-results
          path: output/
    
      - name: Send test report email
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "Robot Tests - ${{ job.status }}"
          from: "Robot CI <${{ secrets.EMAIL_USERNAME }}>"
          to: alsonmaharjan10@gmail.com
          body: |
            Robot Framework test execution completed.

            Status: ${{ job.status }}

            Repository: ${{ github.repository }}
            Branch: ${{ github.ref_name }}

            Download reports:
                ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

          attachments: |
            output/report.html
            output/log.html

        
        
        
    
